@using Microsoft.AspNetCore.Components.Authorization

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                🏠 Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                👤 Profile
            </NavLink>
        </div>
        <AuthorizeView Roles="Owner,Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settings">
                    ⚙️ Settings
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
